@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Rokkitt&display=swap');

h1,
h2,
h3 {
    font-family: 'Rokkitt', serif;
    color: #FFFFFF;
}
 h2,
 h3 {
    color: #007A66;
 }

p,
label,
button {
    font-family: 'Raleway', sans-serif;
}