header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #007A66;
    margin-bottom: 25px;
    h1 {
        margin: 0 25px;
    }
}