main {
    background-color: #FFFAFB;
    display: flex;
    justify-content: space-around;
    height: 90vh;
}

section {
    background-color: #F4F5F3;
    border-radius: 25px;
    gap: 20px;
    padding: 15px;
    height: 50%;
}

.searchSection {
    width: 45%;
        form {
            display: flex;
            flex-direction: column;
            gap: 10px;
                textarea {
                    resize: none;
                }
        }
}

.instructionsSection {
    width: 45%;
        span {
            color: red;
            font-weight: bold;
        }
}

button {
    border: 2px solid #97CC4B;
    border-radius: 25px;
    padding: 5px 10px;
    font-weight: bold;
        &:hover,
        &:focus {
            background-color: #1a535c;
            color: #97CC4B;
        }
}